@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Roboto&display=swap');

@font-face {
    font-family: 'Santio Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Santio Bold'), url('assets/css/Santio\ Bold.woff') format('woff');
    }

/* font-family: 'Roboto', sans-serif;
font-family: 'Mr Dafoe', cursive;
font-family: 'Santio Bold', normal, normal;
Farbe: #e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff */


/* BODY - GENERELLE REGELN */
body{
    font-size: 25px;
    margin: 0;
    padding: 0;
}

/* HEADER_MAIN - GENERELLE REGELN */
body{
    margin: 0;
    padding: 0;
    background-image: url('https://drive.google.com/thumbnail?id=1NBos8hcF6lcmgw19KFmydzhrc1hf-scA&authuser=0&sz=w1920-h929');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.font_white_back_black{
    color: #efefef;
    background-color:#000;
}

/* HEADER - CSS CODE */
#Header_UL{
    display: inline-block;
    list-style: none;
    position: absolute;
    right: 100px;
}

#Header_UL li a{
    color:white;
    text-decoration: none;
} 

#Header_UL li a:hover{
    text-decoration:underline;
    text-decoration-color: #e7bc0e;
}

#main{
    height: 400vh;
    width: 100%;
}

#Main-Article-1{
    width:27%;
    height: 100vh;
    position: absolute;
    top: 47vh;
    color: white;
    margin-left:6%;
    font-size: 70px;
    font-family: 'Santio Bold';
}

#Main-Article-1-h1-1{
    margin: 0;
    padding: 0;
    display: inline-block;
}

#Main-Article-2{
    width:27%;
    height: 100vh;
    position: absolute;
    top: 110vh;
    color:#e7bc0e;
    margin-left: 6%;
    font-size: 40px;
    font-family: 'Mr Dafoe', cursive;
}

/* #Main-Article-2-h1-1{} */

/*Text in Mitte*/
#Main-Article-3{
    width:75%;
    height: 100vh;
    position: absolute;
    top: 150vh;
    color: #6bc1a3;
    margin-left: 15%;
    font-size: 50px;
    font-family: 'Santio Bold';
}

#Main-Article-3-h1-1{
    display: inline-block;
    line-height: 100px;
}

/* Elemente mit Bild in Headline und text drunter */
/*To the workers*/

#Main-Article-4{
    width:70%;
    height: 100vh;
    position: absolute;
    top: 300vh;
    margin-left:10%;
}

#Main-Article-4-img-1{
    width:300px;
}

#Main-Article-4-h1-1{
    font-size: 220px;
    color:#e7bc0e;
    display: inline-block;
    line-height: 220px;
    margin: 0;
    margin-top: 75px;
    padding:0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#Main-Article-4-h2-1{
    font-size: 65px;
    color:#e7bc0e;
    display: inline-block;
    line-height: 65px;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    width:110%;
    text-transform: uppercase;
}

/*To the payday*/
#Main-Article-5{
    width:70%;
    height: 100vh;
    position: absolute;
    top: 425vh;
    margin-left:10%;
}

#Main-Article-5-img-1{
    width:300px;
}

#Main-Article-5-h1-1{
    font-size: 220px;
    color:#cb91b6;
    display: inline-block;
    line-height: 220px;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#Main-Article-5-h2-1{
    font-size: 65px;
    color:#cb91b6;
    display: inline-block;
    line-height: 65px;
    margin: 0;
    margin-top: 75px;
    padding:0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    width:110%;
    text-transform: uppercase;
}

/*To the healthsystem*/
#Main-Article-6{
    width:70%;
    height: 100vh;
    position: absolute;
    top: 550vh;
    margin-left:10%;
}

#Main-Article-6-img-1{
    width:300px;
}

#Main-Article-6-h1-1{
    font-size: 220px;
    color:#6bc1a3;
    display: inline-block;
    line-height: 220px;
    margin: 0;
    margin-top: 75px;
    padding:0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#Main-Article-6-h2-1{
    font-size: 65px;
    color:#6bc1a3;
    display: inline-block;
    line-height: 65px;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    width:110%;
    text-transform: uppercase;
}

/*Text in Mitte*/
#Main-Article-7{
    width:75%;
    height: 100vh;
    position: absolute;
    top: 675vh;
    color: #7eb8e1;
    margin-left: 35%;
    font-size: 50px;
    font-family: 'Santio Bold';
}

#Main-Article-7-h1-1{
    display: inline-block;
    line-height: 100px;
}

/*Gruppenumarmung*/

#Gruppenumarmung{
    background-color: #efefef;
    display: inline-block;    
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 825vh;
    margin: 0;
    padding: 0;
    z-index: 1; 
}

#Gruppenumarmung_Bild_1{
    background-repeat: no-repeat;
    background-size: cover/contain;
    width: 100%;
    position: absolute;
    z-index: 3;
}

#Gruppenumarmung_Bild_2{
    background-repeat: no-repeat;
    background-size: cover/contain;
    width: 100%;
    position: absolute;
    z-index: 2;
}